{% extends "base.html" %}
{% load static %}

{% block title %}Artisan & Trade Courses — KUCCPS TVET Placement Kenya | CareerNext{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">Artisan Preferences</h2>
    <form method="post" id="artisanForm">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-secondary w-100 mt-3">Next</button>
    </form>
</div>

<script>
document.getElementById("artisanForm").addEventListener("submit", function(){
    const btn = this.querySelector("button");
    btn.disabled = true;
    btn.innerText = "Processing...";
});
</script>
{% endblock %}